.things {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.thing {
  border: .5px solid gray;
  border-radius: 5%;
  padding: 1%;
}

.thing-detail {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: .5px solid gray;
  border-radius: 5%;
  padding: 1%;
}

.home-tiles {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.days-since-tb {
  width: 40rem;
  display: flex;
  margin: auto;
  border: .5px solid lightgray;
  border-radius: 5px;
  padding: 2%;
}

.bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}